body {
    font-size: 16px;
    font: 100%/1 'Lobster', cursive;
}



.submit {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

textarea {
    min-height: 100px;
    min-width: 300px;
}
.form {
    margin: 20 20 20 2rem;
    padding: 5rem;
}

.input {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: none;
    border-color: hsla(0, 5%, 0%, 1);
    border-width: 0 0 3px 0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    outline: transparent;
}
